/* .navbar-nav{
	height:52px;
}
.log-out{
	margin-left:71rem;
}
li:hover{
	background-color:#e7e7e7;
	border:1px solid white;
} */

fieldset{
	margin-top:20px;
	margin-bottom:20px;
}
label{
	margin-bottom:10px;
}
body::-webkit-scrollbar {
  display: none;
}

.error-btn{
	display:flex;
	align-items:center;
	justify-content:center;
}